# Exploratory Data Analysis

In [2]:
import numpy as np
import pandas as pd

In [3]:
df_ecom_train_ds = pd.read_csv("ecommerce_train.csv")

In [4]:
df_ecom_train_ds

,session_id,administrative,administrative_duration,informational,informational_duration,productrelated,productrelated_duration,bouncerates,exitrates,pagevalues,specialday,month,operatingsystems,browser,region,traffictype,visitortype,weekend,revenue
0,139957,2,47.500000,0,0.0,19,1203.480714,0.000000,0.027421,6.748509,0.0,Nov,2,2,3,2,Returning_Visitor,False,0
1,496587,0,0.000000,0,0.0,7,152.000000,0.000000,0.033333,0.000000,0.0,Dec,3,2,6,3,Returning_Visitor,False,0
2,440268,7,206.500000,1,389.9,95,4415.889952,0.000133,0.033750,2.676062,0.0,Nov,2,2,1,20,Returning_Visitor,False,0
3,294672,1,18.258571,0,0.0,103,8305.048706,0.004871,0.034746,6.824908,0.0,Nov,2,2,1,2,Returning_Visitor,True,1
4,497475,0,0.000000,0,0.0,42,1305.108333,0.016068,0.039742,0.000000,0.0,Dec,3,2,5,2,Returning_Visitor,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,264884,14,271.232434,1,4.0,12,270.233333,0.000000,0.007692,33.258525,0.0,Oct,4,1,3,5,New_Visitor,False,0
39996,238369,14,123.930000,5,38.6,160,6190.526028,0.000000,0.040557,0.000000,0.0,Sep,2,2,8,1,Returning_Visitor,False,0
39997,370016,0,0.000000,0,0.0,2,0.000000,0.200000,0.200000,0.000000,0.0,Dec,3,2,6,13,Returning_Visitor,False,0
39998,211469,0,0.000000,0,0.0,36,1193.625000,0.034617,0.069524,0.000000,0.2,May,1,1,1,4,Returning_Visitor,False,0
39999,314094,1,0.000000,0,0.0,30,529.000000,0.036314,0.056000,0.000000,0.4,May,2,2,1,13,Returning_Visitor,False,0